<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Endereço</title>
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="/">Adicionar endereço</a>
      <a href="/enderecos">Meus endereços</a>
    </div>
    <div class="container">
      <h1>Adicionar Endereço</h1>
      <form action="/cadastrar" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="cep">Nome:</label>
          <input type="text" id="nome" name="nome" required />
        </div>
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" name="cep" maxlength="9" required />
        </div>
        <div class="form-group">
          <label for="logradouro">Logradouro:</label>
          <input type="text" id="logradouro" name="logradouro" required />
        </div>
        <div class="form-group">
          <label for="bairro">Bairro:</label>
          <input type="text" id="bairro" name="bairro" required />
        </div>
        <div class="form-group">
          <label for="numero">Número:</label>
          <input type="number" id="numero" name="numero" required />
        </div>

        <div class="form-group">
          <label for="localidade">Cidade:</label>
          <input type="text" id="localidade" name="localidade" required />
        </div>
        <div class="form-group">
          <label for="uf">UF:</label>
          <input type="text" id="uf" name="uf" required />
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <textarea type="text" id="descricao" name="descricao" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label for="imagem">Imagem:</label>
          <input type="file" id="imagem" name="imagem">
        </div>
        <div class="form-group">
          <label>Avaliação:</label>
          <div class="rating-stars">
            <i class="bi bi-star star" data-star="1"></i>
            <i class="bi bi-star star" data-star="2"></i>
            <i class="bi bi-star star" data-star="3"></i>
            <i class="bi bi-star star" data-star="4"></i>
            <i class="bi bi-star star" data-star="5"></i>
            <input type="hidden" name="rating" value="" id="rating">
          </div>
        </div>
        
        
        <button type="submit">Cadastrar</button>
      </form>
    </div>

    <script>
      const showStars = (rating) => {
        for(let i = 1; i <= 5; i++){
            let thisStar = document.querySelector(`[data-star="${i}"]`);
            if(i <= rating) {
              thisStar.classList.replace("bi-star", "bi-star-fill")
            } else {
              thisStar.classList.replace( "bi-star-fill", "bi-star")
            }
          }
      }

      const stars = document.querySelectorAll(".star");
      stars.forEach((star) => {
        star.addEventListener("click", () => {
          let rating = star.getAttribute("data-star");
          let ratingInput = document.querySelector("#rating")
          ratingInput.value = rating;
          showStars(rating);
        })
      })
    </script>
    <script>
      const cep = document.querySelector("#cep");

      const showData = (result) => {
        for (const campo in result) {
          if (document.querySelector("#" + campo)) {
            document.querySelector("#" + campo).value = result[campo];
          }
        }
      };

      cep.addEventListener("input", (e) => {
        let search = cep.value.replace("-", "");
        const options = {
          method: "GET",
          mode: "cors",
          cache: "default",
        };

        fetch(`https://viacep.com.br/ws/${search}/json/`, options)
          .then((res) => {
            res.json().then((data) => showData(data));
          })
          .catch((error) => console.log("Deu erro:" + error.message));
      });
    </script>
  </body>
</html>
