@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-container {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}



.form-group {
  margin: 10px 0;
}
label {
  display: block;
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.address-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 360px;
  box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.25);
-webkit-box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.25);
}

.address-title{
  display: flex;
  justify-content: space-between;
}

.address-image>img{
  width: 100%;
  max-width: 400px;
}

.address-card h2 {
  font-size: 20px;
}
.address-card p {
  font-size: 14px;
}

.btn{
  padding: 9px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: white;
  outline-offset: 0;
}
.btn>a{
  text-decoration: none;

}
.btn-editar{
  background-color: rgb(48, 84, 202);
}
.btn-excluir{
  background-color: rgb(202, 48, 48);
}

.no-address {
  color: #999;
}



/* Rating CSS */
.avaliacao{
  display: flex;
  margin: 0;
  padding: 0 !important;
 }

.star-icon{
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font-size: 30px;/* alterar o tamanho das estrelas */
}
.star-icon::before{
  content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}
.avaliacao:hover .star-icon::before{
  content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}